* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}

a {
  text-decoration: none;
  /*gets rid of the underline under links*/
}


body {
  font-family: 'Circular', sans-serif;
}

.nav {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0 20px 0;
}

.nav > li {
  display: inline-block;
  padding-right: 50px;
}
.nav > li > a {
  color: black;
}
.nav > li > a:hover {
  color: #c1c1c1
}


.header {
    width: 98.8%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    margin-bottom: 100px;
}

header {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  padding: 10px;
}

.content {
  margin-top: 100px;
}

.profile-pic {
  text-align: center;
}





@media only screen and (mid-width: 768px){
    /*events*/
    body {
        display: flex;
    }
}
