* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}

a {
  text-decoration: none;
  /*gets rid of the underline under links*/
}


body {
  font-family: 'Circular', sans-serif;
}


.header {
    width: 98.8%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
}

header {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  padding: 10px;
}

/*.profile-pic {
  text-align: center;
}*/





@media only screen and (mid-width: 768px){
    /*events*/
    body {
        display: flex;
    }
}
