/* Background CSS */

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}

a {
  text-decoration: none;
  /*gets rid of the underline under links*/
}


body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  /*border: 30px #f5f5f5 solid;*/
  margin: 1px;
  /*background-image: url("wynavi.jpeg");*/
  /*border: 3px rgba(0, 255, 255, 0.5) solid;*/
}



div.title-name {
  margin: 200px 0 180px 0;
  padding: 20px;
  text-align: center;
  height: 600px;
}
p.name {
  /*text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 255, 255, 0.2);*/
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 15px;
  color: rgb(51, 51, 51);
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.contact-info {
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rbg(51,51,51);
}
 /*social media icons*/

 /* Style all font awesome icons */
 .fa {
   border-radius: 50%;
   margin-top: 35px;
   padding: 15px;
   font-size: 18px;
   width: 20px;
   height: 20px;
   text-align: center;
   text-decoration: none;
 }

 /* Add a hover effect if you want */
 .fa:hover {
    color: rgb(0, 255, 255);
     opacity: 0.7;
 }

/*social icons list*/
.social-list {
  text-align: center;
  /*display: flex;
  justify-content: center;*/
  margin-top: none;
  padding-right: 48px;
}
.social-list > li {
  text-align: center;
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 30px;
}

.social-list > li > a {
  text-align: center;
  color: black;
}

div.fa-angle-down {
  padding-right: 40px;
  font-size: 50px;
  text-align: center;
  /*width: 100%;
  display: flex;
  justify-content: center;*/
}

h1#development {
  font-size: 25px !important;
  color: rgb(51, 51, 51) !important;
  margin: 160px 0 30px 0 !important;
  padding: 40px 0 0 20px;
  z-index: -1 !important;
  text-align: left;
}
h1#marketing {
  color: #f5f5f5 !important;
  font-size: 25px !important;
  margin: 160px 0 30px 0 !important;
  padding: 40px 0 0 20px;
  z-index: -1 !important;
  text-align: left;
}


.project-div, .lifestyle-div {
  height: 800px;
}
.marketing-div {
  height: 1000px;
}

.marketing-div {
  background-color: black;
  align-items: center !important;
}
/*TABS*/

.active#dockit a {
  background-color: white !important;
  border-bottom: 1px rgba(0, 255, 255, 0.5) solid;
}

.active#pitchday a {
  background-color: black !important;
  border-bottom: 1px rgba(0, 255, 255, 0.5) solid;
}
.active#github a {
  background-color: blue !important;
  border-bottom: 1px rgba(0, 255, 255, 0.5) solid;
}
#exTab3 .nav-pills#nav-pills-development {
  display: flex !important;
  justify-content: center !important;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color: rgb(51, 51, 51);
  font-weight: bolder;
  font-size: 40px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  text-align: center;
}
#exTab3 .nav-pills#nav-pills-marketing {
  display: flex !important;
  justify-content: center !important;
}
#exTab3 .nav-pills#nav-pills-marketing > li > a {
  border-radius: 4px 4px 0 0 ;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 15px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  text-align: center;
}
#exTab3 .nav-pills#nav-pills-marketing > li > a:hover {
  background-color: rgba(0, 17, 17, 0);
}

#exTab3 .tab-content {
  color : black;
  padding : 5px 15px;
}
#exTab3 .tab-content#marketing-content {
  color : white;
  padding : 5px 15px;
}

span#tag-line {
  font-size: 26px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
span#tools {
color: rgb(51, 51, 51);
font-size: 15px;
}
p.tab-content {
  /*border-left: 2px rgba(0, 255, 255, 1) solid;*/
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  font-weight: 400;
  font-size: 20px;
}

.video-div {
  display: flex;
  justify-content: center;
}

video.dockit-video {
  width: 100%;
  text-align: center;
}




.dockit {
  font-size: 80px;
}

.bio .dockit {
  color: #3c00d2;
}
.post:hover {
  color: #336791;
}
.boot:hover {
  color: #401F7C;
}
.html:hover {
  color: #FF4500;
}
.css:hover {
 color: #00a4e4;
}
.js:hover {
  color: #FFD700;
}
.eventbrite:hover {
  color: #ff9a00;
}
.ticketmaster:hover {
  color: #009cde;
}
.ruby:hover {
  color: 	rgba(155, 17, 30, 1.0);
}
.jquery:hover {
  color: rgba(122, 206, 244, 1);
}
.github {
  color: black;
}
.github:hover {
  color: #f5f5f5
}

footer {
  background-color: #f5f5f5;
  height: 200px;
  padding: 30px;
  margin-top: 30px;
}
.wrapper {
  width: 100%;
  display: table;
}
.equal {
  display: table-cell;
}
.left {
  text-align:left;
}
.center {
  text-align:center;
}
.right {
  text-align:right;
}


@media only screen and (mid-width: 768px){
    /*events*/
    body {
        display: flex;
    }
}
