/* Background CSS */
* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}
a {
  text-decoration: none !important;
  /*gets rid of the underline under links*/
}
body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  border: 2px rgb(51,51,51) solid;
  border-radius: 10px;
}



/*SECTION 1 (HEADER w/ CONTACT INFO)*/
div.title-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 190px, 20px 120px 20px;
  text-align: center;
  height: 710px;
  border: 1px white solid;
  border-radius: 10px;
}
  div.name {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 15px;
    color: rgb(51, 51, 51);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .contact-info {
    text-align: center;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(51,51,51);
  }
 /*SOCIAL MEDIA ICONS*/

 /* Style all font awesome icons */
 .fa {
   border-radius: 50%;
   margin-top: 35px;
   padding: 15px;
   font-size: 18px;
   width: 20px;
   height: 20px;
   text-align: center;
   text-decoration: none;
 }

 /* Add a hover effect */
 .fa:hover {
    color: rgba(51,51,51,0.9);
    text-decoration: none;
     /*opacity: 0.7;*/
    filter: drop-shadow(0 0 3px rgba(51,51,51,0.1));
 }

/*social icons list*/
.social-list {
  text-align: center;
  margin-top: none;
  padding-right: 48px;
  }
  .social-list > li {
    text-align: center;
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 30px;
  }
  .social-list > li > a {
    text-align: center;
    color: black;
  }
  div.fa-angle-down {
    padding-right: 40px;
    font-size: 50px;
    text-align: center;
  }


/*SECTION 2 LANGUAGES/FRAMEWORKS */
.language-div {
  height: 700px;
  background: -webkit-linear-gradient(left top, white, #f5f5f5 ,white);
  /*background: -webkit-linear-gradient(white, rgba(210, 210, 210,0.5),rgba(210, 210, 210,0.5), rgba(210, 210, 210,0.5), white);*/
  padding-top: 50px;
}
          .top-badge-div, .bottom-badge-div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60%;
            margin: 10px 0 10px 0;
          }

            .top-badge, .bottom-badge {
              margin: 40px 0 0 30px;
              -webkit-filter: drop-shadow(0 1px 5px #afafaf);
              filter: drop-shadow(0 1px 5px #afafaf);
            }

      .container-left {
        height: 680px;
        width: 100%;
        /*float: left;*/
      }
          .tech-stack-div {
            /*border: 2px green solid;*/
            /*color: rgb(51,51,51);*/
            /*font-weight: bold;*/
            /*font-size: 48px;*/
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 630px;
            /*margin: 40px 0 70px 0;*/
            padding: 0 0 0 30px;
            /*border: 1px red solid;*/
          }
            div.gradient-line {
              height: 2px;
              width: 55%;
              background: -webkit-linear-gradient(left top,rgba(0, 255, 255, 0.7),#1700B2,#1700B2,rgba(0, 255, 255, 0.7));
              margin-bottom: 5px;
            }
            .tech-stack-text{
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              width: 490px;
              margin: 20px 0 20px 0;
              width: 100%;
              color: rgba(51,51,51);
              /*border: 1px green solid;*/
            }
              .tech-stack-title {
                font-size: 46px;
                font-weight: 500;
                color: rgba(51,51,51);
              }
              .tech-stack-subtext{
                font-weight: 400;
                font-size: 21px;
                color: rgba(51,51,51,0.9);
                /*border: 1px green solid;*/
              }


/*SECTION 3 PROJECTS */
.project-div {
  height: 860px;
  padding-top: 50px;
  border-radius: 10px;
  background: -webkit-linear-gradient(right top, white, white, #f5f5f5);
}
/*TABS*/
  .active#dockit a {
    background-color: white;
    border: 1px rgba(51, 51, 51, 0.3) solid;
  }

  #exTab3 .nav-pills#nav-pills-development {
    display: flex !important;
    justify-content: center !important;
  }
    #exTab3 .nav-pills > li > a {
      color: rgba(51, 51, 51, 0.5);
      font-size: 15px;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      text-align: center;
    }
    #exTab3 .nav-pills > li > a:hover {
      color: rgba(51, 51, 51, 0.5);
      /*text-shadow: 0px 0px 5px #afafaf;*/
    }

  div#exTab3.container {
    background-color: white;
    border-radius: 10px;
  }
    p.tab-content {
      /*border-left: 2px rgba(0, 255, 255, 1) solid;*/
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
      font-weight: 400;
      font-size: 17px;
      padding-top: 10px;
      margin-left: 10px;
      color: rgba(51, 51, 51, 0.8);
    }
      span#tag-line {
        font-size: 30px;
        font-weight: 600;
        color: rgba(51, 51, 51, 0.85);
      }
      .video-div {
        display: flex;
        justify-content: center;
      }
        video.dockit-video {
          width: 100%;
          text-align: center;
        }
        iframe {
          border-radius: 10px;
          border: 3px white solid;
          margin-bottom: 10px;
        }

.dockit {
  font-size: 80px;
}


.bottom-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.github-button, .site-button {
  color: rgba(51,51,51,0.8);
  font-size: 15px;
  border: 1px rgba(51,51,51,0.8) solid;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  margin-right: 15px;
  text-decoration: none;
}
/*rgba(0, 255, 255, 0.7)*/
  .github-button:hover {
    /*font-size: 14px;*/
    text-decoration: none;
    color: rgba(51,51,51,1);
    border: 1px rgba(51,51,51,1) solid;
    /*border-radius: 6px;*/
  }
  .site-button:hover {
    text-decoration: none;
    /*font-size: 14px;*/
    color: rgba(51,51,51,1);
    border: 1px rgba(51,51,51,1) solid;
    /*border-radius: 6px;*/
  }

.showcase {
  height: 860px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  div.description-text {
    border-radius: 10px;
    border-top: 30px white solid;
    border-bottom: 30px white solid;
    border-left: 20px white solid;
    background: -webkit-linear-gradient(right bottom, white, #f5f5f5);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
    div.description-container {
      /*border: 1px green solid;*/
      padding: 0 0 75px 60px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*align-content: center;*/
    }
      div.description-title {
        width: 100%;
        margin-bottom: 40px;
        /*border: 1px blue solid;*/
        display: flex;
        justify-content: flex-start;
        font-size: 32px;
        font-weight: 500;
        color: rgb(51,51,51);
      }
        div.description-body {
          /*border: 1px purple solid;*/
          font-size: 20px;
          color: rgb(51,51,51);
          display: flex;
          justify-content: flex-start;
        }
        div.example-buttons {
          display: flex;
          justify-content: center;
          align-content: center;
          /*width: 100%;
          height: 15%;*/
          margin-top: 50px;
        }
          .button1, .button2 {
            margin-left: 18px;
            font-size: 19px;
            font-weight: 300;
          }
        .icon-div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: row;
          padding-top: 30px;
        }
          ul#line-list {
            padding: 0;
          }
          li#line-dash {
            display: inline;
          }
          .fa.fa-window-minimize {
            font-size: 20px;
            height: 7px;
            width: 21px;
            color: #eaeaea;
          }

  div.laptop {
    border-radius: 10px;
    position: relative;
    display: inline;
    /*display: flex;
    justify-content: flex-end;
    align-items: center;*/
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left bottom, white, #f5f5f5);
    border-top: 30px white solid;
    border-right: 20px white solid;
    border-bottom: 30px white solid;
    /*padding-left: 50px;*/
  }
    img#ipad {
      width: 125%;
      position: absolute;
      top:-120px;
      left:-70px;
      z-index:0;
    }

    }
    img#d-content {
      position: absolute;
      bottom: 40px;
      right: 12px;
      z-index:1;
    }



    div.showcase-two {
      height: 860px;
      border-left: 20px solid;
      border-right: 20px solid;
      border-top: 30px solid;
      border-bottom: 30px solid;
      border-color: white;
      background: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
      .left-square, .middle-square, .right-square {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 33%;
        height: 50%;
        background: #f5f5f5;
      }
      .left-square:hover, .middle-square:hover, .right-square:hover {
        /*box-shadow: 0px 0px 10px rgba(51,51,51,0.1);*/
        border: 2px solid -webkit-linear-gradient(top, rgba(0, 255, 255, 0.7),#1700B2,#1700B2,rgba(0, 255, 255, 0.7));
      }

/*SECTION 4 FOOTER*/
/*footer {
  background: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5, rgba(51,51,51,0.1));

  border-radius: 10px;
  border: 2px purple solid;
}
  .wrapper {
    width: 100%;
    display: table;
    border: 2px red solid;
  }
  .equal {
    display: table-cell;
    border: 2px green solid;
  }
    .left {
      text-align:left;
      border: 1px blue solid;
      height: 460px;
      width: 50%
    }
    .right {
      text-align:right;
      border: 1px blue solid;
      height: 460px;
      width: 50%;
    }*/


/*------------------POSSIBLE FUTURE FEATURE-------------------- */
/*SHOWCASE SECTION*/
/*div.showcase {
  border: 1px blue solid;
  width: 100%;
  height: 860px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}
  div.showcase-projects {
    border: 1px purple solid;
    width: 15%;
    height: 76%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .image-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
   img.logo {
     border: 1px rgba(51,51,51,0.2) solid;
     border-radius: 25px;
     padding: none;
     background: -webkit-linear-gradient(top, white, white, #f5f5f5);
     filter: drop-shadow(0 0 5px #f5f5f5);
   }
   img.logo:hover {
     filter: drop-shadow(0px 0px 3px #d3d3d3);
   }
   p.project-description-paragraph {
     border: 2px green solid;
     font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
     font-weight: 500;
     font-size: 20px;
     padding-top: 10px;
     color: rgba(51, 51, 51, 0.95);
   }
   span#dockit-tagline {
     font-size: 22px;
     font-weight: 600;
     color: rgb(51, 51, 51);
   }*/



   @media screen and (max-width: 414px){
     body {
       /*border: 1px blue solid;*/
     }
     div.name {
       margin: 0px 0px 20px 0px;
       font-size: 35px;
     }
     ul.social-list {
       /*border: 1px red solid;*/
       padding: 0px;
       display: flex;
       justify-content: space-around;
     }
     ul.social-list > li {
       text-align: center;
       padding: 0 40px 0 0;
     }
     li#instagram {
       padding-right: 30px;
     }
     a.fa.fa-github, a.fa.fa-linkedin, a.fa.fa-facebook-official, a.fa.fa-instagram {
       font-size: 40px;
     }
     div.tech-stack-div {
       display: flex;
       justify-content: center;
       padding-left: 0px;
     }
       div.gradient-line {
         display: none !important;
         width: 410px !important;
       }
       div.tech-stack-text {
         display: flex;
         justify-content: center;
         text-align: center;
       }
         .top-badge, .bottom-badge {
           margin-left: 20px;
         }
    div.tech-demo-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    iframe, img#mockup-screenshot {
      width: 400px;
      height: 225px;
    }

   }

   @media screen and (max-width: 375px) {

     iframe, img#mockup-screenshot {
       width: 370px;
       height: 208px;
     }

   }
