<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Resume</title>
  </head>
  <body>

    <ul class="nav">
      <li><a href="Projects/index.html.erb" >Projects</a></li>
      <li><a href="Goals/index.html.erb" >Goals</a></li>
      <li><a href="Resume/index.html.erb" >Resume</a></li>
      <li><a href="Interests/index.html.erb" >Interest</a></li>
      <li><a href="Background/index.html.erb" >Background</a></li>
      <li><a href="Contact/index.html.erb" >Contact</a></li>
    </ul>


  </body>
</html>
