/* Background CSS */

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  /*Gets rid of bullet points on lists*/
}

a {
  text-decoration: none;
  /*gets rid of the underline under links*/
}


body {
  font-family: 'Circular', sans-serif;
  background-color: #F5F5F5;
}

.nav {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0 20px 0;
}
.nav > li {
  display: inline-block;
  padding-right: 50px;
}
.nav > li > a {
  color: black;
}
.nav > li > a:hover {
  color: #c1c1c1
}
